body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body * {
  box-sizing: border-box;
  cursor: default;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}

.cont {
  width: 1000px;
  margin: 0 auto;
}

.appWrapper {
  padding: 30px 0 0;
  overflow: hidden;
  position: relative;
  border-left: 3px solid #aaa;
  border-right: 3px solid #aaa;
  box-shadow: 0 0 10px #aaa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.appWrapper > * {
  width: 30%;
}

.item {
  overflow: hidden;
  height: 250px;
  position: relative;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#itemDescription {
  font-weight: 700;
  text-shadow: 0 0 5px #fff;
  display: none;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 200px;
  border: 1px solid #000;
  border-top: 0;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* Beautiful CSS Background pattern from http://lea.verou.me */
  background-color: #def;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

#itemDescription.visible {
  display: block;
}
